In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('CityStarExport.xls', header=4)

In [3]:
data.head()

,Unnamed: 0,Дата,Адрес,Количество комнат,"Цена, р.",Планировка,Этаж,"Общая площадь, м2","Жилая площадь, м2","Площадь кухни, м2",Дополнительное описание,Контакты,Адрес на сайте
0,NaN,02.11.2022 20:02,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00",ПРОДАМ трехкомнатную квартиру старой планировк...,Нестерова Айгуль Зинуровна тел. 89128051276,http://magnitogorsk-citystar.ru/realty/prodazh...
1,NaN,06.07.2023 12:58,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00","2к С.Армии 5, 5/5,S=44/29/7, брежневка, окна П...",Дмитрий Борисович тел. +79193131784,http://magnitogorsk-citystar.ru/realty/prodazh...
2,NaN,24.08.2023 13:43,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00","3к Завенягина 6, нестандартная пл., 7/16 S=82/...",Дмитрий Борисович тел. +79193131784,http://magnitogorsk-citystar.ru/realty/prodazh...
3,NaN,18.04.2022 09:34,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00",Объявление актуально. Продам трёх комнатную кв...,"Ведякина Люцина, Формула недвижимости тел. 8-...",http://magnitogorsk-citystar.ru/realty/prodazh...
4,NaN,03.11.2023 15:57,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00",Продам прекрасную 3 комнатную квартиру. Шикарн...,"Сокурян Мария, Рио-Люкс тел. +7 968-116-81-20",http://magnitogorsk-citystar.ru/realty/prodazh...

In [4]:
data = data.loc[:, 'Дата':'Площадь кухни, м2']

In [5]:
data.columns = [
    'date',
    'adress',
    'n_rooms',
    'price',
    'plan',
    'floor',
    'total_square',
    'living_square',
    'kitchen_square'
]

In [6]:
data.head()

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square
0,02.11.2022 20:02,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00"
1,06.07.2023 12:58,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00"
2,24.08.2023 13:43,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00"
3,18.04.2022 09:34,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00"
4,03.11.2023 15:57,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00"

## Анализ данных

In [7]:
def first_look(df, num_of_srtings=5):
    print('Общая информация')
    display(df.info())
    
    print(f'Первые {num_of_srtings} строк(и) данных')
    display(df.head(num_of_srtings))
    
    print('Основные статистические характеристики данных')
    display(df.describe())
    print('Количество пропусков:')
    print(df.isna().sum())
    print()
    
    print('Количество дубликатов:', df.duplicated().sum())

In [8]:
first_look(data)

Общая информация
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            454 non-null    object
 1   adress          454 non-null    object
 2   n_rooms         441 non-null    object
 3   price           450 non-null    object
 4   plan            126 non-null    object
 5   floor           454 non-null    object
 6   total_square    454 non-null    object
 7   living_square   454 non-null    object
 8   kitchen_square  454 non-null    object
dtypes: object(9)
memory usage: 32.1+ KB

None

Первые 5 строк(и) данных

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square
0,02.11.2022 20:02,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00"
1,06.07.2023 12:58,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00"
2,24.08.2023 13:43,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00"
3,18.04.2022 09:34,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00"
4,03.11.2023 15:57,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00"

Основные статистические характеристики данных

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square
count,454,454,441,450,126,454,454,454,454
unique,311,386,5,197,18,58,221,85,49
top,19.10.2023 10:04,",",Двухкомнатная,3 300 000,нестандартная,5/5,"65,00","30,00","6,00"
freq,10,5,165,10,32,40,18,35,106

Количество пропусков:
date                0
adress              0
n_rooms            13
price               4
plan              328
floor               0
total_square        0
living_square       0
kitchen_square      0
dtype: int64

Количество дубликатов: 0

### Цена

In [9]:
data['price'].isna().sum()

4

Так как записи без цены не дадут нам возможности обучить модель или проверить ее качество, удалим их.

In [10]:
data.shape

(454, 9)

In [11]:
data.dropna(
    subset='price', 
    inplace=True, 
    axis=0
)

In [12]:
data.shape

(450, 9)

In [13]:
data['price'].isna().sum()

0

### количество комнат

In [14]:
data['n_rooms'].nunique()

5

In [15]:
data['n_rooms'].unique()

array(['Трехкомнатная', 'Двухкомнатная', 'Однокомнатная',
       'Четырехкомнатная', nan, 'Многокомнатная'], dtype=object)

In [16]:
data['n_rooms'].isna().sum()

12

In [17]:
data[data['n_rooms'].isna()]

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square
92,26.10.2023 08:16,"Карла Маркса, 233",NaN,4 860 000,NaN,8/10,"70,00","50,00","7,00"
153,19.04.2023 08:18,"Ленина пр-т, 212а",NaN,1 100 000,NaN,1/1,"18,40","12,00","5,00"
208,24.10.2023 08:13,"Завенягина, 1",NaN,4 750 000,NaN,5/9,"65,10","44,00","8,00"
209,17.10.2023 08:44,"Торфяная, 5/2",NaN,4 950 000,NaN,1/2,"46,80","0,00","0,00"
211,19.10.2023 10:04,"Гагарина, 15",NaN,3 800 000,NaN,8/12,"59,50","0,00","8,00"
285,13.10.2023 12:53,"Карла Маркса, 117",NaN,3 400 000,NaN,2/5,"41,00","26,00","6,00"
288,13.10.2023 12:53,"Карла Маркса, 119/1",NaN,3 600 000,NaN,2/5,"41,00","0,00","6,00"
293,13.10.2023 12:53,"ул Жукова, 17/1",NaN,3 100 000,NaN,4/9,"40,10","18,00","9,00"
299,11.10.2023 08:19,"Западное шоссе, 101",NaN,6 000 000,NaN,2/3,"68,00","40,00","0,00"
425,09.08.2023 07:53,"ул Лесопарковая, 93/1",NaN,3 150 000,NaN,10/10,"41,20","28,00","12,50"
427,03.08.2023 08:06,"Ленина пр-т, 114/4",NaN,2 620 000,NaN,5/14,"40,00","18,00","13,00"
429,27.06.2023 14:07,"Ленина пр-т, 87а",NaN,2 800 000,NaN,6/14,"45,00","37,00","8,00"

### Дата

Для предсказания цены нам необходим только год и месяц. Выделим их из данных о дате публикации объявления.

In [18]:
data['date'] = pd.to_datetime(data['date'], format='%d.%m.%Y %H:%M')

In [19]:
data['year'] = pd.DatetimeIndex(data['date']).year

In [20]:
data['month'] = pd.DatetimeIndex(data['date']).month

In [21]:
data.head()

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square,year,month
0,2022-11-02 20:02:00,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00",2022,11
1,2023-07-06 12:58:00,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00",2023,7
2,2023-08-24 13:43:00,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00",2023,8
3,2022-04-18 09:34:00,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00",2022,4
4,2023-11-03 15:57:00,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00",2023,11

### Адрес

В адресе оставим только улицу, для упрощения обработки категориального признака.

In [22]:
data['adress'].isna().sum()

0

In [23]:
def get_street(row):
    dirt = ['ул. ', 'ул.', 'ул ', 'пр.']
    for dot in dirt:
        if dot in row:
            row = row.replace(dot, '')
    if row.find('. ') == 0:
        row = row[2:]
    return row[:row.find(',')]

In [24]:
data['sreet'] = data['adress'].apply(get_street)

In [25]:
data.head()

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square,year,month,sreet
0,2022-11-02 20:02:00,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00",2022,11,Менделеева
1,2023-07-06 12:58:00,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00",2023,7,Советской Армии
2,2023-08-24 13:43:00,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00",2023,8,Завенягина
3,2022-04-18 09:34:00,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00",2022,4,Николая Шишка
4,2023-11-03 15:57:00,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00",2023,11,Карла Маркса

In [26]:
data['sreet'].nunique()

95

In [27]:
sorted(data['sreet'].unique())

['',
 '133/1',
 '14',
 '26 Горнолыжная',
 '50 лет Магнитки',
 '50-летия Магнитки',
 '70 лет Октября',
 'Анджиевского',
 'Болотникова',
 'Бориса Ручьева',
 'Вознесенская',
 'Вокзальная',
 'Ворошилова',
 'Габдрауфа Давлетова',
 'Гагарина',
 'Галиуллина',
 'Герцена',
 'Горнолыжная',
 'Горького',
 'Грязнова',
 'Доменщиков',
 'Жукова',
 'Завенягина',
 'Западное шоссе',
 'Зеленый Лог',
 'Зеленый лог',
 'Им. газеты \\"Правда\\"',
 'Индустриальная',
 'Казакова',
 'Калмыкова',
 'Карла Маркса',
 'Коробова',
 'Красноармейская',
 'Кронштадтская',
 'Куйбышева',
 'Курортная',
 'Ленина пр-т',
 'Ленинградская',
 'Лесная',
 'Лесопарковая',
 'Менделеева',
 'Металлургов',
 'Мичурина',
 'Молодежная',
 'Московская',
 'Набережная',
 'Николая Шишка',
 'Новая',
 'Октябрьская',
 'Оранжерейная',
 'Панькова',
 'Парковая',
 'Первомайская',
 'Пионерская',
 'Подольская',
 'Помяловского',
 'Привокзальная',
 'Пушкина',
 'Раздольная',
 'Ржевского переулок',
 'Российская',
 'Садовая',
 'Салтыкова-Щедрина',
 'Сиреневый проезд',
 'Советская',
 'Советский переулок',
 'Советский переулок 12',
 'Советской Армии',
 'Солнечный Берег',
 'Сочинская',
 'Сталеваров',
 'Строителей',
 'Суворова',
 'Тагира Кусимова',
 'Тарасенко',
 'Тевосяна',
 'Тимирязева',
 'Титова',
 'Торфяная',
 'Трамвайная',
 'Труда',
 'Тургенева',
 'Уральская',
 'Фадеева',
 'Центральная',
 'Чайковского',
 'Чапаева',
 'Чекалина',
 'Черемушки',
 'Школьная',
 'зеленый лог',
 'имени газеты Правда',
 'карла маркса',
 'проспект Сиреневый',
 'сад Горняк']

В списке улиц присутствуют неявные дубликаты. Приведем названия улиц к единому написанию.

In [28]:
streets_to_replace = {
    'зеленый лог' : 'Зеленый Лог',
    'Зеленый лог' : 'Зеленый Лог',
    'Им. газеты \\"Правда\\"' : 'имени газеты Правда',
    'проспект Сиреневый' : 'Сиреневый проезд',
    'карла маркса' : 'Карла Маркса',
    '50 лет Магнитки' : '50-летия Магнитки'
}

In [29]:
data['sreet'].replace(streets_to_replace, inplace=True)

In [30]:
data['sreet'].nunique()

89

In [31]:
data[data['sreet'] == '14']

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square,year,month,sreet
448,2023-01-21 04:34:00,"14,",Двухкомнатная,3 600 000,NaN,-1/1,"100,00","65,00","25,00",2023,1,14

In [32]:
first_data = pd.read_excel('CityStarExport.xls', header=4)

In [33]:
first_data.iloc[448]

Unnamed: 0                                                               NaN
Дата                                                        21.01.2023 04:34
Адрес                                                                   14,
Количество комнат                                              Двухкомнатная
Цена, р.                                                           3 600 000
Планировка                                                               NaN
Этаж                                                                    -1/1
Общая площадь, м2                                                     100,00
Жилая площадь, м2                                                      65,00
Площадь кухни, м2                                                      25,00
Дополнительное описание    id:1385. \nПродам отдельно стоящий дом с пред ...
Контакты                                        Павлюченко Виктория, РиоЛюкс
Адрес на сайте             http://magnitogorsk-citystar.ru/realty/prodazh...
Name: 448, dtype: object

In [34]:
data.head()

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square,year,month,sreet
0,2022-11-02 20:02:00,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00",2022,11,Менделеева
1,2023-07-06 12:58:00,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00",2023,7,Советской Армии
2,2023-08-24 13:43:00,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00",2023,8,Завенягина
3,2022-04-18 09:34:00,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00",2022,4,Николая Шишка
4,2023-11-03 15:57:00,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00",2023,11,Карла Маркса

### Планировка

In [38]:
data['plan'].notna().sum()

126

In [39]:
data['plan'].nunique()

18

In [40]:
data['plan'].unique()

array(['старой планировки', 'брежневка', 'нестандартная', 'улучшенная',
       nan, 'свердловский вариант', 'хабаровский вариант', 'раздельная',
       'малосемейка', 'распашонка', 'гребенка', 'хрущевка',
       'сталинский вариант', 'ленинградский проект', 'евродвушка',
       'полусмежная', 'евротрешка', 'смежная', 'трапеция'], dtype=object)

### Этаж

In [41]:
data['floor'].isna().sum()

0

In [44]:
def get_floor_num(row):
    return int(row[:row.find('/')])

In [48]:
data['floor_num'] = data['floor'].apply(get_floor_num)

In [50]:
data['floor_num'].isna().sum()

0

In [51]:
def get_total_floors(row):
    return int(row[row.find('/')+1:])

In [53]:
data['total_floors'] = data['floor'].apply(get_total_floors)

In [54]:
data['total_floors'].isna().sum()

0

In [55]:
data.head()

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square,year,month,sreet,floor_num,total_floors
0,2022-11-02 20:02:00,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,"83,00","55,00","9,00",2022,11,Менделеева,3,4
1,2023-07-06 12:58:00,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,"44,00","29,00","7,00",2023,7,Советской Армии,5,5
2,2023-08-24 13:43:00,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,"82,00","50,00","10,00",2023,8,Завенягина,7,16
3,2022-04-18 09:34:00,"Николая Шишка, 22",Трехкомнатная,5 500 000,нестандартная,5/5,"74,00","56,00","9,00",2022,4,Николая Шишка,5,5
4,2023-11-03 15:57:00,"Карла Маркса, 208",Трехкомнатная,4 400 000,улучшенная,7/9,"69,00","46,00","9,00",2023,11,Карла Маркса,7,9

Добавим столбец с информацией о том, является ли этаж квартиры первым.

In [57]:
data['is_first_floor'] = data['floor_num'] == 1

In [60]:
data['is_first_floor'] = data['is_first_floor'].astype('int')

Добавим столбец с информацией о том, является ли этаж квартиры последним.

In [62]:
data['is_last_floor'] = data['floor_num'] == data['total_floors']
data['is_last_floor'] = data['is_last_floor'].astype('int')

Преобразуем типы данных у числовых столбцов.

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 450 entries, 0 to 453
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            450 non-null    datetime64[ns]
 1   adress          450 non-null    object
 2   n_rooms         438 non-null    object
 3   price           450 non-null    object
 4   plan            126 non-null    object
 5   floor           450 non-null    object
 6   total_square    450 non-null    object
 7   living_square   450 non-null    object
 8   kitchen_square  450 non-null    object
 9   year            450 non-null    int32
 10  month           450 non-null    int32
 11  sreet           450 non-null    object
 12  floor_num       450 non-null    int64
 13  total_floors    450 non-null    int64
 14  is_first_floor  450 non-null    int32
 15  is_last_floor   450 non-null    int32
dtypes: datetime64[ns](1), int32(4), int64(2), object(9)
memory usage: 52.7+ KB

In [93]:
def repl(row):
    return row.replace(',', '.')

In [96]:
data['total_square'] = data['total_square'].apply(repl)
data['living_square'] = data['living_square'].apply(repl)
data['kitchen_square'] = data['kitchen_square'].apply(repl)

In [98]:
data['total_square'] = data['total_square'].astype('float')
data['living_square'] = data['living_square'].astype('float')
data['kitchen_square'] = data['kitchen_square'].astype('float')

In [112]:
def strip_price(row):
    return row.replace(' ', '')

In [116]:
strip_price('5 600 000')

'5600000'

In [113]:
data['price'] = data['price'].apply(strip_price)

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 450 entries, 0 to 453
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            450 non-null    datetime64[ns]
 1   adress          450 non-null    object
 2   n_rooms         438 non-null    object
 3   price           450 non-null    object
 4   plan            126 non-null    object
 5   floor           450 non-null    object
 6   total_square    450 non-null    float64
 7   living_square   450 non-null    float64
 8   kitchen_square  450 non-null    float64
 9   year            450 non-null    int32
 10  month           450 non-null    int32
 11  sreet           450 non-null    object
 12  floor_num       450 non-null    int64
 13  total_floors    450 non-null    int64
 14  is_first_floor  450 non-null    int32
 15  is_last_floor   450 non-null    int32
dtypes: datetime64[ns](1), float64(3), int32(4), int64(2), object(6)
memory usage: 52.7+ KB

In [115]:
data['price'] = data['price'].astype('float')

ValueError: could not convert string to float: '5\xa0600\xa0000'

In [101]:
data.head(3)

,date,adress,n_rooms,price,plan,floor,total_square,living_square,kitchen_square,year,month,sreet,floor_num,total_floors,is_first_floor,is_last_floor
0,2022-11-02 20:02:00,"Менделеева, 6",Трехкомнатная,5 600 000,старой планировки,3/4,83.0,55.0,9.0,2022,11,Менделеева,3,4,0,0
1,2023-07-06 12:58:00,"Советской Армии, 5",Двухкомнатная,3 200 000,брежневка,5/5,44.0,29.0,7.0,2023,7,Советской Армии,5,5,0,1
2,2023-08-24 13:43:00,"Завенягина, 6",Трехкомнатная,6 200 000,нестандартная,7/16,82.0,50.0,10.0,2023,8,Завенягина,7,16,0,0